.QuizContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
    .Quiz {
      border-radius: 14px 14px 14px 14px;
      border: 6px solid #d6d6d6;
      color: black;
      width: 40%;
      background-color: #ffffff;
      text-align: center;
        h3 {
          color: green;
          &.notCorrect {
            color: red;
          }
        }
        .FormContainer {
           margin: 10px;
          display: flex;
          justify-content: center;
        }
        .QuizImage {
          width: 100%;
        }
    }
}


